.panel{
  padding-right:100px;
}

.compteCard {
  background: #fff;
  padding: 15px;
  margin-right: -9px;
  min-height: 110px;
  padding-left: 6px;
  padding-right: 10px;
  margin-bottom: 20px;
}
/*  legend {
      font-size: 15px;
      display: block;
      width: 100%;
      margin-bottom: 20px;
      line-height: inherit;
      color: #7c7c7c;
      border-bottom: 1px solid #e5e5e5;
  }*/
label
{
  font-size: 13px;
  line-height: 1.428571429;
  color: #555;
}
.compteCard h3 {
  font-size: 16px;
  margin-top: 10px
}
.compteCard p {
  color: #6d6b6a;
}

.error {
  color :#ff1a1a;
}

.Tokenerror{
  color :#ff1a1a;
}
.ButtonStyle{

  border: 0;
  outline: 0;
  background-color:#F95E02;
  color: white;
  margin-right: 16px;
}

.ButtonStyle:hover{

  background-color:#F95E02;
  color: white;
}

.ButtonStyle:focus, .ButtonStyle:active {

  border: 0;
  outline: 0;
  background-color:#b4461c;
  color: white;

}

.datePickerFormControl {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #666;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.fieldRow{
  margin-bottom:10px;
}