
.PanelCard {
  padding: 5px 5px 0px !important;
  margin-bottom: 0px;
}
.PanelDetail {
  border: none;
}
.PanelDetail div {
  padding:0 !important;
}
.cardTitre{
  background-color: var(--accountHeaderBG);
  border-left: solid 5px var(--basicColorLight);
  border-radius: 4px 4px 0 0;
  padding: 12px;
  color: var(--accountHeaderColor);
  font-size: 17px;
  i{
    color: var(--accountHeaderColor);
    font-size: 13px;
  }
}
.compteCard {
  background: #fff;
  margin-top: 15px;
  margin-bottom: 18px;
  border-radius: 4px;
  color: #575e62;
  border: 1px solid #dad9d9;
}

.card{
  background: #fff;
  padding: 2px;
}
.tableStyleTd {
  text-align: right;
}
.numeroCarte{
  color: var(--basicColor);
  font-size: 20px;
  letter-spacing: 3px;
  margin-top: 15px;
}
.dateStyle{
  margin-left: 9%;
}
.typeCardStyle{
  margin: 4px 10px;
  display: inline-block;
}
.marginOfButton{
  margin-right: -15px;
}
.btnplus {
  margin: 30px 0px 15px;
  text-align: center;
  padding: 3px 10px;
  border: 1px solid #dddddd;
  color: #8b8b8b;
  font-size: 12px;
  &:hover {
    background: #eee;
    border: 1px solid #dddddd;
  }
}
.imgCard{
  margin-top: 15px;
}
.infosCarte{
  margin: 0;
}

.cartePlafondNote{
  margin: 5px 18px 15px;
  font-size: 10px;
  color:  green;
  float: left;
}

.adriaCardIcon{
  margin: 3px 5px;
  width: 30px;
  height: 30px;
  background: url(../images/Account/credit-card.png);
  background-size: 26px 26px;
  background-repeat: no-repeat;
}

.floatLeft{
  float:left;
}

.iconUpdate {
  margin-top: -7px;
  background-color: transparent;
}

.cardTableLine{
  text-align: left !important;
  width: 30% !important;
  font-weight: 600 !important;
  color: #a6a6a6 !important;
}

.cardTableSecondLine{
  text-align: right !important;
  width: 30% !important;
  font-weight:600 !important;
  color:#a6a6a6 !important;
}

.cardInput {
  width: 50%;
}