
.pageWrap {
    display:table;
    margin:0px auto;
    background:white;
    padding:5px;
    cursor: pointer;
}

.keypad {
    float:left;
    // text-align:center;
    font-family:'Helvetica Neue',sans-serif;
    font-weight:100;
    width: 198px;
}


.keypad > span {
    display:inline-block;
    width:50px;
    height:50px;
    margin:5px 8px;
    text-align:center;
    line-height:50px;
    border-radius:4px;
    border:1px #b9b9b9  solid;
    background-color:#e2e2e2;
    font-size:26px;
    color:#5e6468;
    transition:.5s;
    -webkit-transition:.5s;
}

.keypad > span:active {
    color:white;
    background:#e64b04 ;
    transition:0s;
    -webkit-transition:0s;
}

.call {
    text-align:center;
    background-color:#66FF66;
    font-size:26px;
    font-weight:200;
    color:white;
    line-height:50px;
    border-radius:5px;
    transition:0.2s;
    -webkit-transition:0.2s;
}

.call:active {
    box-shadow:0 0 80px 1px black inset;
    transition:0s;
    -webkit-transition:0s;
}

.popover-content {
    padding: 0 !important;
}