.app {
  margin: 0;
}
.appContent {
  margin-top: 80px;
  bottom: 70px;
  margin-left: 250px;
  padding: 0 15px;
}

.leftside {
  margin-top: 57px;
  padding: 0 !important;
  height: 100%;
  position: fixed;
}
//ipad
@media screen and (max-width: 995px) {
  .appContent {
    margin-left: 70px !important;
    padding: 0 10px !important;
  }
  .leftside {
    padding: 0 15px;
    & > div {
      display: block;
    }
  }
}
