
.compteCard {
    background: #fff;
    padding: 15px;
    margin-right: -9px;
    min-height: 110px;
    padding-left: 6px;
    padding-right: 10px;
legend {
    font-size: 15px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    line-height: inherit;
    color: #7c7c7c;
    border-bottom: 1px solid #e5e5e5;
}
label
  {
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    width: 25%;
  }
  }
   .compteCard h3 {
    font-size: 16px;
    margin-top: 10px 
  }
  .compteCard p {
    color: #6d6b6a;
  }
  .ButtonStyle{
  border: 0;
  outline: 0;
  background-color:#e0683b;
  color: white;
  margin-right: 16px;
}
.ButtonStyle:hover{
  background-color:#e37951;
    color: white;
}
.ButtonStyle:focus, .ButtonStyle:active {
     border: 0;
  outline: 0;
  background-color:#b4461c;
    color: white;
}   
.ButtonPasswordStyle{
 border: 0;
  outline: 0;
  background-color:#191919;
  color: white;
  line-height: 1.59;
  border-radius:0px;
}
.ButtonPasswordStyle:hover, .ButtonPasswordStyle:focus{

  background-color:black;

}
.PanelKey {
    border: none;
    width: 184px;
  }
.formControle{
  border-radius:0px;
}
.modalContainer{
  position: relative;
}
.modalContainer .modal, .modalContainer .modal-backdrop {
  position: absolute;
}
.error {
color :#4d0000;
  }

.paddingColumn
{
margin-top: 20px;
margin-bottom: 20px;
}
.compteCard p{
    margin-top: 5px;
    margin-bottom: 35px;
}