.pageWrap {
    display:table;
    margin:0px auto;
    background:white;
    padding:5px;
    cursor: pointer;
}

.keypad {
    float:left;
    // text-align:center;
    font-family: 'Helvetica Neue',sans-serif;
    font-weight:100;
    width: 180px;
}


.keypad > span {

    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    border: 1px #e37951 solid;
    background-color: white;
    font-size: 16px;
    color: #343434;
    transition: .5s;
    -webkit-transition: .5s;
}

  .keypad > span:active , div > span:active  {
    color:white;
    background:#e37951 ;
    transition:0s;
    -webkit-transition:0s;
}

.call {
    text-align:center;
    background-color:#66FF66;
    font-size:26px;
    font-weight:200;
    color:white;
    line-height:50px;
    border-radius:5px;
    transition:0.2s;
    -webkit-transition:0.2s;
}

.call:active {
    box-shadow:0 0 80px 1px black inset;
    transition:0s;
    -webkit-transition:0s;
}

.popover-content {
    padding: 0 !important;
}