.DropdownButton
{
    margin-left : 800px;
}
.cardMouvement{
    background: #fff;
    padding: 35px 15px 1px 15px;
    margin-top: 15px;
    margin-bottom: 18px;
    min-height: 150px;
}
.LabelColumCode{
    width: 60px;
    font-weight: bold;
}
.LabelColumDate{
    width: 200px;
}
.LabelColumnDEvise{
    width: 170px;
}
.previousNextButton{
  border: 0;
  outline: 0;
  background-color:#e0683b;
  color: white;
}
.previousNextButton:hover {
  background-color:#e37951;
    color: white;
}
.previousNextButton:focus{
     border: 0;
  outline: 0;
  background-color:#b4461c;
    color: white;
}

.currentPage{
     border: 0;
  outline: 0;
  background-color:black;
    color: white;
}
.styleSoldeReelNegatif{
  color: #ed6b75 !important;
}
.styleSoldeReelPositif{
  color: #10cfbd !important;
}