/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

a {
  // color: #96c03d;
  text-decoration: none;
}

section {
  /* used just to separate different styles */
  border-bottom: 1px solid #e6e6e6;
  padding: 4em 0;
}
section h2 {
  width: 90%;
  margin: 0 auto 2em;
  color: #2c3f4c;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
@media only screen and (min-width: 1170px) {
  section {
    padding: 6em 0;
  }
  section h2 {
    margin: 0 auto 3em;
  }
}

/* -------------------------------- 

Basic Style

-------------------------------- */
.cd-breadcrumb, .cdMultiSteps {
  background-color: #edeff0;
  border-radius: .25em;
  line-height: 0!important;
}
.cd-breadcrumb:after, .cdMultiSteps:after {
  content: "";
  display: table;
  clear: both;
  line-height: 0!important;
}
.cd-breadcrumb li, .cdMultiSteps li {
  display: inline-block;
  float: left;
  margin: 0.5em 0;
}
.cd-breadcrumb li::after, .cdMultiSteps li::after {
  /* this is the separator between items */
  display: inline-block;
  content: '\00bb';
  margin: 0 .6em;
  color: #b8c4d0;
}
.cd-breadcrumb li:last-of-type::after, .cdMultiSteps li:last-of-type::after {
  /* hide separator after the last item */
  display: none;
}
.cd-breadcrumb li > *, .cdMultiSteps li > * {
  /* single step */
  display: inline-block;
  font-size: 1.4rem;
  color: #2c3f4c;
}
.cd-breadcrumb li.current > *, .cdMultiSteps li.current > * {
  /* selected step */
  // color: #96c03d;
}
.no-touch .cd-breadcrumb a:hover, .no-touch .cdMultiSteps a:hover {
  /* steps already visited */
  // color: #96c03d;
}
.cd-breadcrumb.custom-separator li::after, .cdMultiSteps.custom-separator li::after {
  /* replace the default arrow separator with a custom icon */
  content: '';
  height: 16px;
  width: 16px;
  vertical-align: middle;
}
.cd-breadcrumb.custom-icons li > *::before, .cdMultiSteps.custom-icons li > *::before {
  /* add a custom icon before each item */
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: .4em;
  margin-top: -2px;
  vertical-align: middle;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(2) > *::before, .cdMultiSteps.custom-icons li:not(.current):nth-of-type(2) > *::before {
  /* change custom icon using image sprites */
  background-position: -20px 0;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(3) > *::before, .cdMultiSteps.custom-icons li:not(.current):nth-of-type(3) > *::before {
  background-position: -40px 0;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(4) > *::before, .cdMultiSteps.custom-icons li:not(.current):nth-of-type(4) > *::before {
  background-position: -60px 0;
}
.cd-breadcrumb.custom-icons li.current:first-of-type > *::before, .cdMultiSteps.custom-icons li.current:first-of-type > *::before {
  /* change custom icon for the current item */
  background-position: 0 -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(2) > *::before, .cdMultiSteps.custom-icons li.current:nth-of-type(2) > *::before {
  background-position: -20px -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(3) > *::before, .cdMultiSteps.custom-icons li.current:nth-of-type(3) > *::before {
  background-position: -40px -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(4) > *::before, .cdMultiSteps.custom-icons li.current:nth-of-type(4) > *::before {
  background-position: -60px -20px;
}
@media only screen and (min-width: 768px) {
  .cd-breadcrumb, .cdMultiSteps {
    padding: 0 1.2em;
  }
  .cd-breadcrumb li, .cdMultiSteps li {
    margin: 1.2em 0;
  }
  .cd-breadcrumb li::after, .cdMultiSteps li::after {
    margin: 0 1em;
  }
  .cd-breadcrumb li > *, .cdMultiSteps li > * {
    font-size: 1.3rem;
  }
}

/* --------------------------------

Triangle breadcrumb

-------------------------------- */
  .cd-breadcrumb.triangle {
    /* reset basic style */
    background-color: transparent;
    padding: 0;
  }
  .cd-breadcrumb.triangle li {
    position: relative;
    padding: 0;
    margin: 4px 4px 4px 0;
  }
  .cd-breadcrumb.triangle li:last-of-type {
    margin-right: 0;
  }
  .cd-breadcrumb.triangle li > * {
    position: relative;
    padding: 1em .8em 1em 2.5em;
    color: #2c3f4c;
    background-color: #edeff0;
    /* the border color is used to style its ::after pseudo-element */
    border-color: #edeff0;
  }
  .cd-breadcrumb.triangle li.current > * {
    /* selected step */
    color: #ffffff;
    background-color: #96c03d;
    border-color: #96c03d;
  }
  .cd-breadcrumb.triangle li:first-of-type > * {
    padding-left: 1.6em;
    border-radius: .25em 0 0 .25em;
  }
  .cd-breadcrumb.triangle li:last-of-type > * {
    padding-right: 1.6em;
    border-radius: 0 .25em .25em 0;
  }
  .no-touch .cd-breadcrumb.triangle a:hover {
    /* steps already visited */
    color: #ffffff;
    background-color: #2c3f4c;
    border-color: #2c3f4c;
  }
  .cd-breadcrumb.triangle li::after, .cd-breadcrumb.triangle li > *::after {
    /*
    	li > *::after is the colored triangle after each item
    	li::after is the white separator between two items
    */
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    content: '';
    height: 0;
    width: 0;
    /* 48px is the height of the <a> element */
    border: 24px solid transparent;
    border-right-width: 0;
    border-left-width: 20px;
  }
  .cd-breadcrumb.triangle li::after {
    /* this is the white separator between two items */
    z-index: 1;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
    border-left-color: #ffffff;
    /* reset style */
    margin: 0;
  }
  .cd-breadcrumb.triangle li > *::after {
    /* this is the colored triangle after each element */
    z-index: 2;
    border-left-color: inherit;
  }
  .cd-breadcrumb.triangle li:last-of-type::after, .cd-breadcrumb.triangle li:last-of-type > *::after {
    /* hide the triangle after the last step */
    display: none;
  }
  .cd-breadcrumb.triangle.custom-separator li::after {
    /* reset style */
    background-image: none;
  }
  .cd-breadcrumb.triangle.custom-icons li::after, .cd-breadcrumb.triangle.custom-icons li > *::after {
    /* 50px is the height of the <a> element */
    border-top-width: 25px;
    border-bottom-width: 25px;
  }

  @-moz-document url-prefix() {
    .cd-breadcrumb.triangle li::after,
    .cd-breadcrumb.triangle li > *::after {
      /* fix a bug on Firefix - tooth edge on css triangle */
      border-left-style: dashed;
    }
  }

/* --------------------------------

Custom icons hover effects - breadcrumb and multi-steps

-------------------------------- */
  .no-touch .cd-breadcrumb.triangle.custom-icons li:first-of-type a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:first-of-type em::before, .no-touch .cdMultiSteps.text-center.custom-icons li:first-of-type a:hover::before, .cdMultiSteps.text-center.custom-icons li.current:first-of-type em::before {
    /* change custom icon using image sprites - hover effect or current item */
    background-position: 0 -40px;
  }
  .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(2) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(2) em::before, .no-touch .cdMultiSteps.text-center.custom-icons li:nth-of-type(2) a:hover::before, .cdMultiSteps.text-center.custom-icons li.current:nth-of-type(2) em::before {
    background-position: -20px -40px;
  }
  .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(3) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(3) em::before, .no-touch .cdMultiSteps.text-center.custom-icons li:nth-of-type(3) a:hover::before, .cdMultiSteps.text-center.custom-icons li.current:nth-of-type(3) em::before {
    background-position: -40px -40px;
  }
  .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(4) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(4) em::before, .no-touch .cdMultiSteps.text-center.custom-icons li:nth-of-type(4) a:hover::before, .cdMultiSteps.text-center.custom-icons li.current:nth-of-type(4) em::before {
    background-position: -60px -40px;
  }

/* --------------------------------

Multi steps indicator

-------------------------------- */
  .cdMultiSteps {
    /* reset style */
    background-color: transparent;
    padding: 0;
    text-align: center;
  }

  .cdMultiSteps li {
    position: relative;
    float: none;
    margin: 0 137px 0 0;
  }
  .cdMultiSteps li:last-of-type {
    margin-right: 0;
  }
  .cdMultiSteps li::after {
    /* this is the line connecting 2 adjacent items */
    position: absolute;
    content: '';
    height: 4px;
    background: #edeff0;
    /* reset style */
    margin: 0;
  }
  .cdMultiSteps li.visited::after {
    background-color: #ff9a70;
  }
  .cdMultiSteps li > *, .cdMultiSteps li.current > * {
    position: relative;
    color: #2c3f4c;
  }

  .cdMultiSteps.custom-separator li::after {
    /* reset style */
    height: 4px;
    background: #edeff0;
  }

  .cdMultiSteps.text-center li::after {
    width: 100%;
    top: 50%;
    left: 100%;
    -webkit-transform: translateY(-50%) translateX(-1px);
    -moz-transform: translateY(-50%) translateX(-1px);
    -ms-transform: translateY(-50%) translateX(-1px);
    -o-transform: translateY(-50%) translateX(-1px);
    transform: translateY(-50%) translateX(-1px);
  }
  .cdMultiSteps.text-center li > * {
    z-index: 1;
    padding: .6em 1em;
    border-radius: .25em;
    background-color: #edeff0;
  }
  .no-touch .cdMultiSteps.text-center a:hover {
    background-color: #2c3f4c;
  }
  .cdMultiSteps.text-center li.current > *, .cdMultiSteps.text-center li.visited > * {
    color: #ffffff;
    background-color: white;
  }
  .cdMultiSteps.text-center.custom-icons li.visited a::before {
    /* change the custom icon for the visited item - check icon */
    background-position: 0 -60px;
  }

  .cdMultiSteps.text-top li, .cdMultiSteps.textBottom li {
    // width: 80px;
    text-align: center;
  }
  .cdMultiSteps.text-top li::after, .cdMultiSteps.textBottom li::after {
    /* this is the line connecting 2 adjacent items */
    position: absolute;
    left: 50%;
    /* 40px is the <li> right margin value */
    width: calc(100% + 147px);
  }
  .cdMultiSteps.text-top li > *::before, .cdMultiSteps.textBottom li > *::before {
    /* this is the spot indicator */
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color:white;
    border: 2px solid #d0d0d0;
  }
  .cdMultiSteps.text-top li.visited > *::before,
  .cdMultiSteps.text-top li.current > *::before, .cdMultiSteps.textBottom li.visited > *::before,
  .cdMultiSteps.textBottom li.current > *::before {
    background-color: white;
    border: 2px solid #ff9a70;
  }
  .no-touch .cdMultiSteps.text-top a:hover, .no-touch .cdMultiSteps.textBottom a:hover {
    // color: #96c03d;
  }
  .no-touch .cdMultiSteps.text-top a:hover::before, .no-touch .cdMultiSteps.textBottom a:hover::before {
    box-shadow: 0 0 0 3px rgba(150, 192, 61, 0.3);
  }

  .cdMultiSteps.text-top li::after {
    /* this is the line connecting 2 adjacent items */
    bottom: 4px;
  }
  .cdMultiSteps.text-top li > * {
    padding-bottom: 20px;
  }
  .cdMultiSteps.text-top li > *::before {
    /* this is the spot indicator */
    bottom: 0;
  }

  .cdMultiSteps.textBottom li::after {
    /* this is the line connecting 2 adjacent items */
    top: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    height: 2px;
  }
  .cdMultiSteps.textBottom li > * {
    padding-top: 20px;
  }
  .cdMultiSteps.textBottom li > *::before {
    /* this is the spot indicator */
    top: 0;
  }
/* --------------------------------

Add a counter to the multi-steps indicator

-------------------------------- */
.cdMultiSteps.count li {
  counter-increment: steps;
}

.cdMultiSteps.count li > *::before {
  content: counter(steps) " - ";
}

  .cdMultiSteps.text-top.count li > *::before,
  .cdMultiSteps.textBottom.count li > *::before {
    /* this is the spot indicator */
       content: counter(steps);
        height: 65px;
        width: 65px;
        line-height: 62px;
        font-size: 20px;
       color: black;
  }

  .cdMultiSteps.text-top.count li:not(.current) em::before,
  .cdMultiSteps.textBottom.count li:not(.current) em::before {
    /* steps not visited yet - counter color */
    color: #b8c4d0;
    font-style: normal;
  }

  .cdMultiSteps.text-top.count li::after {
    bottom: 11px;
  }

  .cdMultiSteps.text-top.count li > * {
    padding-bottom: 34px;
  }

  .cdMultiSteps.textBottom.count li::after {
    top: 33px;
  }

  .cdMultiSteps.textBottom.count li > * {
    padding-top: 85px;
  }

a:hover{
  text-decoration: none !important;
}
.fontStyle{
    //font-weight: 600;
    font-size: 13px;
    color: #969696;
}
.fontStyleCurrentLabel{
    //font-weight: 600;
    font-size: 13px;
    color: #f65f20;
}
.noPadding{
    line-height: 0 !important;
    text-align: center;
}

//plugin overrides

.cdMultiSteps.textBottom.count{
	span {
	  i {
	      margin: 0 10px;
	      display: none;
	  }
	}
}
@media screen and (max-width: 767px) {
  //search page
  .cdMultiSteps.textBottom.count{
	width: 100%;
    max-width: 300px;
    padding-top: 20px;
    height: 350px;
    > * {
        padding-top: 9px;
    }
    li{
    height: 125px;
    width: 100%;
    text-align: left !important;
    padding-left: 27px;
      a{
	    width: 100%;
	    text-align: left;
	    padding-left: 0;
	    padding-top: 9px;
        &:before {
		    content: counter(steps);
		    height: 32px;
		    width: 32px;
		    line-height: 28px;
		    font-size: 1.5rem;
		    color: black;
		    text-align: center;
		    left: 0;
        }
      }
      span {
		position: relative;
	    top: 7px;
	    left: 23px;

          i {
              margin: 0 10px;
              //display: block;
          }
      }
      &:last-child{
        height:  auto;
      }
      &:nth-child(2)  {
          span{
          }
      }
      &:after {
	    top: 16px;
	    width: 2px;
	    height: 130px;
	    left: 26px;
      }
    }
  }

}


/*.previousSteps{
	background-color: #4CAF50;
}*/

.cdMultiSteps.text-top li.previousSteps > *::before, .cdMultiSteps.textBottom li.previousSteps > *::before {
    background-color: white;
    border: 2px solid #26C281;
}

.cdMultiSteps li.previousSteps::after {
	background-color: #26C281;
}

.wizardBloc {
  padding: 15px 0 30px;
}

//---------- ICONS -------------//
.cdMultiSteps.text-top li.firstIcon > *::before,
.cdMultiSteps.text-top li.current > *::before,
.cdMultiSteps.textBottom  li.firstIcon > *::before,
.cdMultiSteps.textBottom li.current > *::before{
  font-family: "simple-line-icons";
  content: "\e060";
  color: #838383;
  font-size: 23px;
  padding-top: 0;
}
.cdMultiSteps.text-top li.secendIcon > *::before,
.cdMultiSteps.text-top li.current > *::before,
.cdMultiSteps.textBottom  li.secendIcon > *::before,
.cdMultiSteps.textBottom li.current > *::before{
  font-family: "simple-line-icons";
  content: "\e08c";
  color: #838383;
  font-size: 23px;
  padding-top: 0;
}
.cdMultiSteps.text-top li.thirdIcon > *::before,
.cdMultiSteps.text-top li.current > *::before,
.cdMultiSteps.textBottom  li.thirdIcon > *::before,
.cdMultiSteps.textBottom li.current > *::before{
  font-family: "simple-line-icons";
  content: "\e067";
  color: #838383;
  font-size: 23px;
  padding-top: 0;
}


.cdMultiSteps.text-top li.visited.firstIcon > *::before,
.cdMultiSteps.text-top li.current > *::before,
.cdMultiSteps.textBottom  li.visited.firstIcon > *::before,
.cdMultiSteps.textBottom li.current > *::before{
  font-family: "simple-line-icons";
  content: "\e060";
  color: #838383;
  font-size: 23px;
  padding-top: 0;
}
.cdMultiSteps.text-top li.visited.secendIcon > *::before,
.cdMultiSteps.text-top li.current > *::before,
.cdMultiSteps.textBottom  li.visited.secendIcon > *::before,
.cdMultiSteps.textBottom li.current > *::before{
  font-family: "simple-line-icons";
  content: "\e08c";
  color: #838383;
  font-size: 23px;
  padding-top: 0;
}
.cdMultiSteps.text-top li.visited.thirdIcon > *::before,
.cdMultiSteps.text-top li.current > *::before,
.cdMultiSteps.textBottom  li.visited.thirdIcon > *::before,
.cdMultiSteps.textBottom li.current > *::before{
  font-family: "simple-line-icons";
  content: "\e067";
  color: #838383;
  font-size: 23px;
  padding-top: 0;
}
