.vMenuIcon{
	padding: 15px 5px 15px 20px;
	height: 55px;
	font-size: 11px;
	list-style: none;
	opacity: .7;
	a {
		color: #fff;
		text-decoration: none;
		font-weight: normal;
	}
	&:hover, &:active {
		color: #23c5d5 !important;
		opacity: 1 !important;
	}

	div {
		padding: 6px 0 6px 42px;
		text-transform: uppercase;
	}

	i {
		width: 28px;
		height: 28px;
		background-size: 27px;
		float: left;
		display: block;
		font-size: 23px;
	}
}

.vMenuIcon div {
	opacity: 0; visibility: hidden;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.cp {
	.vMenuIcon div {
		visibility: visible; opacity: 1;
	}
	.sidenav2 { margin-left: 210px!important; }
}



.sideMenu {
	padding: 0;
	background: transparent;
	z-index: 1;
	display: none !important;
	height: 57px !important;
	overflow: visible !important;
	margin-bottom: 0px;
}

@media only screen and (max-width : 767px) {

	.sideMenu{
		display: block !important;
		position: relative;
		margin-top: 55px;
	}

}

// -------- New Mobile menu Side Navigation ------ //

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #565656;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align:left;
	margin-top: 57px;

	.subnav {
		background: rgba(57, 56, 56, 0.7);
		transition: 0.5s;
		.deviderNav {
			padding-left: 16px;
			background: #525252;
			color: #aeaeae;
			border-bottom: 1px solid;
		}
		a {
			font-size: 15px!important;
			padding: 10px 35px;
		}
	}
}

.sidenav a {
	text-decoration: none;
	font-size: 16px;
	line-height: 28px;
	color: #ababab;
	display: flex;
	transition: 0.3s;
	border-bottom: 1px solid #464646;
	padding: 15px;
	i {
		margin-right: 18px;
		font-size: 28px;
	}
}

.sidenav a:hover{
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	border: 0;
	padding: 0px;
	line-height: initial;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

// -------- New menu Side Navigation ------ //

.sidenav2 {
	height: calc(100% - 56px);
	height: -webkit-calc(100% - 56px);
	-ms-overflow-style: -ms-autohiding-scrollbar;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #565656;
	//border-right: 1px solid #ffffff;
	box-shadow: 8px -4px 6px -7px #d5d5d5;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 45px;
	padding-bottom: 20px;
	text-align:left;
	margin-top: 56px;
	margin-left: 70px;

	/* width */
	&::-webkit-scrollbar {
		width: 7px;
	}
	/* Track */
	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}
	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #888;
	}
	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: #555;
	}

	.subHeader {
		padding: 0px 30px 5px;
		color: #d86851;
		font-size: 15px;
		text-transform: uppercase;
		width: 300px;
	}
}

.sidenav2 a {
	padding: 6px 30px;
	text-decoration: none;
	font-size: 12px;
	color: #dbdbdb;
	display: block;
	transition: 0.3s;
	width: 300px;
	i {
		margin-right: 7px;
	}
}

.sidenav2 a:hover{
	color: #cfcfcf;
}

.sidenav2 .closebtn {
	position: absolute;
	top: 0;
	right: 15px;
	font-size: 30px;
	border: 0;
	padding: 0px;
	width: 15px;
}

.active {
	opacity: 1 !important;
	background: rgba(255, 255, 255, 0.11);
}